form {
    display: flex;
    flex-direction: column;
    background-color: #E3E3E3;
    border-radius: 10px;
    box-shadow: 7px 7px 15px 0 rgba(0, 0, 0, .3);
    min-width: 400px;
    padding: 20px;
    margin-top: 100px;
}
form label {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 5px;
    align-items: center;
}
form span {
    color: #D12A38;
    font-weight: 400;
    font-size: 18px;
    margin: 0 10px;
}
form .header {
    color: #D12A38;
    text-align: center;
}

input, select {
    border: none;
    outline: none;
    border-radius: 7px;
    margin: 5px;
    font-size: 18px;
    padding: 5px 10px;
    font-weight: lighter;
    font-family: 'Exo 2', sans-serif;
    border: 3px solid transparent;
    transition: .3s;
}
input:hover {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .1) inset;
}
input:focus {
    border-color: #F2B25A;
}

input[type="submit"] {
    border: none;
    margin-top: 10px;
    padding: 8px;
}
input[type="submit"]:hover {
    background-color: #D12A38;
    color: white;
}

form .resultBox {
    margin: 5px;
    margin-top: 15px;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
.resultBox.success {
    color: #99D98C;
}
.resultBox.fail {
    color: #D12A38;
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
form .uploader {
    background-color: whitesmoke;
    cursor: pointer;
    border-radius: 7px;
    transition: .3s;
    font-size: 18px;
    padding: 5px;
    color: black;
}
form .uploader:hover {
    background-color: #d12a3894;
    color: white;
}

.orLogin {
    text-align: center;
}
.orLogin span {
    color: black;
}
.orLogin a {
    color: #D12A38;
    text-decoration: none;
    font-size: 19px;
}

form .tableContainer {
    overflow: scroll;
    max-height: 300px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
    border-radius: 10px;
    margin: 5px;
}
form table {
    font-size: 15px;
}
form table thead {
    border-bottom: 2px solid #d12a3894;
}
form .buttons {
    display: flex;
    justify-content: space-between;
}
form .buttons input[type="submit"] {
    width: 50%;
}