.home {
    width: 100%;
    position: relative;

    /* height: calc(100vh - 77.5px); */
}
.home .backImage {
    background-image: url('../assets/Solo-Travel-in-Nature-acbfea52bfaf.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 77.5px);
    filter: blur(7px);
    position: absolute;
    z-index: -1;
}
.home .text {
    color: white;
    font-weight: bold;
    font-size: 70px;
    text-shadow: 2px 2px 30px #272727;
}
.home .textWrapper {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}