@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    background-color: #2B2B2B;
    color: #E3E3E3;
}

body main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    margin-bottom: 50px;
}

.alertMessage {
    text-align: center;
}